# Telegram Bot Token
TELEGRAM_BOT_TOKEN=TU_TELEGRAM_BOT_TOKEN

# PostgreSQL Credentials
POSTGRES_USER=tu_usuario_pg
POSTGRES_PASSWORD=tu_contraseña_pg
POSTGRES_DB=nombre_tu_bd
POSTGRES_HOST=db # Nombre del servicio de la BD en docker-compose
POSTGRES_PORT=5432

# Node environment
NODE_ENV=development

# Super Admin Telegram ID (el ID de usuario de Telegram del administrador principal)
# Reemplaza esto con el ID de Telegram real del super administrador.
# Puedes obtener tu ID de Telegram hablando con bots como @userinfobot
SUPER_ADMIN_TELEGRAM_ID=TU_SUPER_ADMIN_TELEGRAM_ID
